<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/header.ejs') %>
    <div class="create">
    <a href="/products/<%=product._id %>"> <img class="image" src="<%=product.img%>"></a>
    <form action="/products/<%=product._id%>/?_method=PUT" method="POST">
      <!--  NOTE: the form is pre-populated with values for the server-->
      Name: <input type="text" name="name" value="<%=product.name%>"/></br>
      Price: <input type="text" name="price" value="<%=product.price%>"/></br>
      Info: <input type="text" name="description" value="<%=product.description%>"/></br>
      Quantity: <input type="text" name="qty" value="<%=product.qty%>"/></br>
      </br>
      <input type="submit" value="Submit Changes" />
    </form>
</div>
  </body>
</html>